<div class="row justify-content-center">
    <div class="card w-75">
      <div class="card text-center">
        <h5 class="card-header"> <%= I18n.t 'warning' %> </h5>
          <div class="card-body">
            <h6 class="card-title"> <%= I18n.t 'title' %> </h6>
            <p> <%= I18n.t "description" %> </p>
          </div>
      </div>
    </div>
</div>
