<div class="row justify-content-center">
  <div class="card w-50">
    <div class="card text-center">
      <h5 class="card-header"> Advertisement </h5>
        <div class="card-body">
          <h6 class="card-title"> <%= adver.title %> </h6>
          <p> <%= adver.description if params[:action] == 'show' %> </p>
          <p> <%= adver.image %> </p>
          <% if params[:action] != 'show' %>
            <a href='<%= advertisement_path(adver)%>' class='btn btn-primary advertisement_link'>About</a>
          <% end %> 
        </div>
    </div>
  </div>
</div>
